<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link rel="icon" href="public/assets/images/favicon.png">
    <title><%= process.env.APP_NAME%> - <%= data.title %></title>
</head>
<style>
  body {display: flex; min-height: 100vh; flex-direction: column; }
  main {flex: 1 0 auto;}
</style>
<body>
   <header>
    <nav>
      <div class="nav-wrapper sticky-top deep-purple darken-2">
        <a href="/" class="brand-logo">&nbsp;<%= process.env.APP_NAME%></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="lni lni-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/#"><i class="lni lni-quotation"></i> About it</a></li>
          <li><a href="/#"><i class="lni lni-question-circle"></i> Neep help?</a></li>
          <% if (locals.email){ %>
            <li><a href="/profile"><i class="lni lni-dashboard"></i> My Profile</a></li>
            <li><a href="/profile/bunker"><i class="lni lni-database"></i> Bunker</a></li>
          <% }else{ %>
            <li><a href="/signup"><i class="lni lni-enter"></i> Sign-up</a></li>
            <li><a href="/login"><i class="lni lni-user"></i> Login</a></li>
          <%  } %>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/#"><i class="lni lni-quotation"></i> About it</a></li>
      <li><a href="/#"><i class="lni lni-question-circle"></i> Neep help?</a></li>
      <% if (locals.email){ %>
        <li><a href="/profile"><i class="lni lni-dashboard"></i> My Profile</a></li>
        <li><a href="/profile/bunker"><i class="lni lni-database"></i> Bunker</a></li>
      <% }else{ %>
        <li><a href="/signup"><i class="lni lni-enter"></i> Sign-up</a></li>
        <li><a href="/login"><i class="lni lni-user"></i> Login</a></li>
      <%  } %>
    </ul>
   </header>
   <main> 
        <%- body %>
   </main>
   <footer class="page-footer  deep-purple darken-4">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"><%= process.env.APP_NAME%></h5>
            <p class="grey-text text-lighten-4">Data Hoarder Backup Online for educationals purposes.</p>
            <p class="grey-text text-lighten-4">Feel free to check <a href="https://github.com/BitNers/express-rest-mysql" target="_blank">this project</a> on my Github.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Some Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/BitNers" target="_blank"><i class="lni lni-github-original"></i> My GitHub</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/wesleysilva2/" target="_blank"><i class="lni lni-linkedin-original"></i> My Linkedin</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/BitNers/express-rest-mysql" target="_blank"><i class="lni lni-git"></i> About this project</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center">
        © <%= new Date().getFullYear(); %> <%= process.env.APP_NAME%> (v<%= locals.version%>)
        </div>
      </div>
    </footer>
  </body>
  <script src="jquery/dist/jquery.min.js"> </script>
  <script src="materialize-css/dist/js/materialize.min.js"> </script>
  <script src="public/assets/js/layout.js"> </script>
</html>