<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/assets/images/favicon.png">
    <link rel="stylesheet" href="public/assets/css/materialize.min.css">
    <link rel="stylesheet" href="public/assets/css/bunker.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <title><%= process.env.APP_NAME %> - <%= data.title %></title>
</head>
<body>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
          <h3 class="black-text"> <%= data.data.username %></h3>               
        </div></li>
        <li><div class="divider"></div></li>
       
    </ul>

    <nav class="deep-purple darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center"> <%= process.env.APP_NAME %></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <li><a href="/profile/bunker/details"><i class="lni lni-dashboard"></i> Details of Bunker</a></li>
            <li><a href="/profile/bunker/download"><i class="lni lni-download"></i> Download your Data</a></li>
            <li><a class="waves-effect" href="/profile"><i class="lni lni-close"></i> Close Bunker</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
            <li><a href="/profile/bunker/details"><i class="lni lni-dashboard"></i> Details of Bunker</a></li>
            <li><a href="/profile/bunker/download"><i class="lni lni-download"></i> Download your Data</a></li>
            <li><a href="/profile"><i class="lni lni-close"></i> Close Bunker</a></li>
      </ul>

    <div class="container center-align">
      <div class = "row">
        <div class="col s12">
        <br/><br/><br/>
        <form action="/profile/bunker/uploadFile" method="POST" enctype="multipart/form-data"  />
          <div class = "file-field input-field">
      
            <div class = "btn orange darken-3">
              <span><i class="lni lni-upload"></i> Browse Files</span>
              <input type = "file" multiple  webkitdirectory="" directory=""/>
           </div>
             <div class = "file-path-wrapper">
                <input  webkitdirectory="" directory="" class = "file-path validate" type = "text"
                   placeholder = "Upload your file(s)" />
             </div>

          </div>
        </form>  
        </div>
       
     </div>
        <div class="row">
            <div class="col s12">
                
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>
        <%= data.data.userfolder %>
        <tbody>
          <% for (var i = 0; i < (data.data.userfolder); i++) { %>
          <tr>
            <td>i</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
         <% } %>
         <tr>
          <td>i</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        </tbody>
      </table>
            </div>
        </div>
    </div>
</body>
  <script src="public/assets/js/jquery.min.js"> </script>
  <script src="public/assets/js/materialize.min.js"> </script>
  <script src="public/assets/js/bunker.js"> </script>
</html>